
@{
    ViewBag.Title = "AddcourseCotegari";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="page-content course-sec" >
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 mt-5 pt-5">
                <div class="card">

                    <div class="widget-set">
                        
                        <div class="widget-content multistep-form">
                            <fieldset id="first">
                                <div class="add-course-info">
                                    <div class="add-course-inner-header">
                                        <h4>Add Course Cotegary</h4>
                                    </div>
                                    <div class="add-course-form">
                                        <form method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label class="add-course-label">Category Name</label>
                                                <input type="text" class="form-control" placeholder="Category Name" name="cname">
                                            </div>
                                            <div class="form-group">
                                                <label class="add-course-label">Category Icon(Onli .png)</label>
                                                <input type="file" class="form-control" name="cpic">
                                            </div>
                                            <div class="widget-btn">
                                                <input type="button" value="Back" class="btn btn-info-light"/>
                                                <input type="submit" value="Continue" class="btn btn-info-light"/>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </fieldset>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

