
@{
    ViewBag.Title = "AddVideos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

   <div class="row">
       <div class="col-sm-12 mt-5 pt-5 mx-auto">

           <div class="row">
               <div class="col-sm-6 pt-3 mx-auto mt-3">
                   <h3>Add Video...</h3>
                   <form method="post" enctype="multipart/form-data">



                       <div>
                           <label class="add-instructor-labale">Select Course</label>
                           <select class="form-control" name="course" onchange="SelectoneVideo(this)">
                               <option disabled selected>--Select Course--</option>
                               @foreach (System.Data.DataRow row in Model.Rows)
                               {
                                   <option value="@row["csr"]">@row["title"]</option>
                               }
                           </select>
                       </div><br />
                       <div class="row">
                           <div class="col-sm-6">
                       <div>
                           <label class="add-instructor-labale">Add Video Title</label>
                           <input type="text" name="videoTitle" class="form-control" placeholder="Enter Video Title..." />
                       </div><br />
                               </div>
                           <div class="col-sm-6">
                       <div>
                           <label class="add-instructor-labale">Video Chapter</label>
                           <input type="text" name="chapter" class="form-control" list="chapterlist" placeholder="Video Chapter" />
                           <datalist id="chapterlist">
                               <option>Introduction</option>
                           </datalist>
                       </div><br />
                               </div>
                           </div>
                       <div>
                           <label class="add-instructor-labale">Add Video Link</label>
                           <input type="text" name="videolink" class="form-control" placeholder="Video Link" />
                       </div><br />

                       <div>
                           <label class="add-instructor-labale">Video Detail (Max 150 Characters)</label>
                           <textarea name="videodetails" class="form-control" id="desc" placeholder="Enter Video Detail..."></textarea>

                           <script>ClassicEditor.create(document.getElementById("desc"))</script>
                       </div><br />
                       <div class="row">
                           <div class="col-sm-6">
                       <div>
                           <label class="add-instructor-labale">Video duration (in min.)</label>
                           <input type="number" name="duration" placeholder="Video Duration.." class="form-control" />
                       </div>
                               </div><br />
                                     <div class="col-sm-6">
                                         <label class="add-instructor-labale">Is Video Paid?</label>
                                         <select name="ispaid">
                                             <option value="true">Paid</option>
                                             <option value="false">Free</option>
                                         </select>
                                         
                                     </div>
                           </div>

                       <br />
                       <input type="submit" value="Add Video" id="btn" class="btn btn-info mt-1 text-light">

                   </form>
               </div>
           </div>
       </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr</th>
            <th>Title</th>
            <th>Video Title</th>
            <th>Video Link</th>
            <th>Video Details</th>
            <th>Duration</th>
            <th>Chapter</th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>
   <script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
   <script>
       function SelectoneVideo(x) {
           var id = x.value;
           $.ajax({
               url:'/admin/Selectcoursevideo',
               type: 'GET',
               data: { 'id': id },
               success: function (res) {
                   $("table tbody").empty()
                   for (var obj of res) {
                       $("table tbody").append(`
                   <tr>
                   <td>${obj.vsr}</td>
                   <td>${obj.title}</td>
                   <td>${obj.videoTitle}</td>
                   <td><iframe width="200" height="110" src="${obj.videolink}" title="video player" frameborder="0" allow="accelerometer; clipboard-write;encrypted-media;
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    <td>${obj.videodetails}</td> 
                   <td>${obj.duration}</td>
                   <td>${obj.chapter}</td>
                   
                   </tr>
                   `)
                   }
               },
               error: function () {
                   alert("error");
               }
               
           })
               
       }
   </script>