
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Generallayout.cshtml";
}

<style>
    .mg {
        margin-top:75px !important;
    }
</style>
<div class="container-fluid newSection aos mg">
    <div class="header-two-title testimonial-head-two text-center mt-5">
        <h2 data-aos="fade-down">Sponsored by <span>Techpile</span></h2>
        <hr style="height:4px; width:200px;" class="text-danger mx-auto" />
        <div class="header-two-text text-center">
            <p>
                Join us on this journey of growth and exploration, where technology meets ambition.
            </p>
        </div>
    </div>

    <div class="container container-fluid pb-4">
        <div class="row">
            <div class="col-sm-6 mt-4 px-3">
                <iframe width="100%" height="360px!important" src="https://www.youtube.com/embed/mzYrNmto1m8?si=MZarRSaYrTZUW8V7" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6 mt-4 px-3">
                <h4 class="divHeading">
                    At Techpile, we are dedicated to advancing technology and empowering individuals.
                </h4>
                <p>Techpile is founded by some young engineers who have mastered the IT sector with Objective to achieve the High Esteem Goals in the Sector across the Nation & Beyond.</p>
                <p>Techpile Technologies is an innovative organization specialized in both Software and Hardware Development and Training.</p>
                <p>Techpile has always been the best and most approved organisation for Summer & Industrial Training & Appreenticeship programs by Students of Entire region</p>
                <p>With commitment to excellence, we strive to push the boundaries of what is possible in the digital realm by delivering high-quality software, robust hardware solutions, and comprehensive training programs that propel our clients and trainees towards

            </div>
        </div>
    </div>
</div>
