
@{
    ViewBag.Title = "defaultpage";
}
<style>
    .mt {
        margin-top: 45px !important;
        padding-top: 45px !important;
    }
</style>
<center>
    <div class="mt">
<h2>This request not found on server</h2>
    <a href="/home">GO TO HOMEPAGE</a>
        </div>
</center>