
@{
    ViewBag.Title = "Emailveryfication";
    Layout = "~/Views/Shared/_Generallayout.cshtml";
}
<style>
    
</style>
<div class="row">
    <div class="col-sm-7 mx-auto mt-5 pt-5">
        <h2 class="mt-5">Veryfy Your Email...</h2>
        <form method="post">
            <div class="row">
                <div class="col-sm-6 mx-auto mt-1">
                    <div class="form-group" id="em">
                        <label class="add-course-label">Enter your email</label>
                        <input type="email" class="form-control" placeholder="User Id" name="email" id="email" />
                        <input type="submit" value="veryfy" id="btn" class="btn btn-info mt-1 text-light">
                    </div>
                    </div>
                </div>
                    </form>
        
    </div>
</div>
