
@{
    ViewBag.Title = "onecoursechapter";
    Layout = "~/Views/Shared/_Generallayout.cshtml";
}

<style>
    .mt {
        margin-top: 45px !important;
        padding-top: 45px !important;
    }
 

</style>
<div class="mt">
@if (Model != null)
{
    int i = 1;
    foreach (System.Data.DataRow row in Model.Rows)
    {

        <div class="row">
            <div class="col-sm-3 mt">
                <div class="course-card">
                    <h6 class="cou-title">
                        <a class="collapsed arrow_chapter" data-bs-toggle="collapse" href="#collapse_@i" data-id="@Request.QueryString["csr"]" aria-expanded="false">@row["chapter"]</a>
                    </h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="collapse_@i" class="card-collapse collapse">
                    <div id="vdo_@i">
                        <img src="~/Content/load.gif" height="50px" id="img" />
                    </div>
                </div>
            </div>
        </div>
        { i = i + 1; }
    }
}
else
{
    <h3>Sorry till video uploding..</h3>
}
    </div>
<script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(".arrow_chapter").click(function () {
            var chapter = $(this).text().trim();
            var courseid =@Request.QueryString["csr"];
            var i = 1;

            $.ajax({
                url: '/home/selevideo',
                type: 'GET',
                data: { 'chapter': chapter, 'courseid': courseid },
                success: function (data) {

                    $("#img").css("display", "none")
                    for (var row of data) {
                        $("#vdo_"+i).append(`
                        <div style="float:left; margin-left:5px;">
                                    <iframe width="200" height="110" scrolling="no" seamless="" id="frame_video" src="${row.videolink}" title="video player" frameborder="0" allow="accelerometer; clipboard-write;encrypted-media;
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br/>
<span>${row.videoTitle}</span>
</div>
                    `)
                        i = i + 1;
                    }
                },
                error: function () {
                }
            })
        })
    })
</script>